/*-------------------VARIABLES--------------------*/

:root {
    --border: 2px solid var(--primary-clr);
    --border-radius: 20px;
    --border-margin: 0.15em;
  
    --pri-clr: #E38B29;
    --sec-clr: #002430;
    --acs-clr: #00b3ed;
    --acs-clr2: #074b61;
  
    --font-railway: 'Raleway', sans-serif;
  }

/*-----------------CUSTOM MEDIA-------------------*/

@custom-media --viewport-large (min-width: 50em);

@media (--viewport-large) {
    body {
        background: red
    }
}