/*-------------------VARIABLES--------------------*/

:root {
    --border: 2px solid var(--primary-clr);
    --border-radius: 20px;
    --border-margin: 0.15em;
  
    --primary-clr: #E38B29;
    --secondary-clr: #F1A661;
    --accent-clr1: #FFD8A9;
    --accent-clr2: #FDEEDC;
    --light-clr: #92B4EC;
    --dark-clr: #2C3639;
  
    --font-railway: 'Raleway', sans-serif;
  }

/*-----------------CUSTOM MEDIA-------------------*/

@custom-media --viewport-large (min-width: 50em);

@media (--viewport-large) {
    body {
        background: red
    }
}